language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "pypy"

install:
  - pip install cython

addons:
  postgresql: "9.4"

before_script:
  - psql -c 'create database test_minipg;' -U postgres

script:
  - python setup.py test
  - if [[ $TRAVIS_PYTHON_VERSION != pypy ]]; then python setup.py build_ext -i; python setup.py test; fi

