language: python
python:
  - "3.5"
  - "3.6"
  - "pypy"

install:
  - pip install cython

addons:
  postgresql: "9.6"

script:
  - python setup.py test
  - if [[ $TRAVIS_PYTHON_VERSION != pypy ]]; then python setup.py build_ext -i; python setup.py test; fi

